* {                                  /* * is the universal selector and selects every element on the entire webpage.*/
    margin: 0;                       
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;     /* Sets the font for the entire website. If 1st language is not available than use 2nd and if 2nd is not available than use 3rd */
}

body {
    background: whitesmoke;        /* Light grey background for the body */
}

.pricing-container {                        
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 60px 20px;
}

.card {
    background: white;
    width: 270px;
    padding: 25px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0px 3px 15px translucentblack;      /* Shadow behind the every box */
}

.card h3 {
    margin-bottom: 15px;            /* It creates empty space BELOW an element. */
}

.card h1 {
    font-size: 32px;
    margin-bottom: 15px;
}

.card h1 span {
    font-size: 18px;
    color: grey;
}

.card ul {
    list-style: none;
    text-align: left;
    margin: 20px 0;
}

.card ul li {
    margin: 8px 0;
    font-size: 16px;
}

.not {
    color: red;
}

button {
    margin-top: 15px;
    background: red;
    color: #fff;
    border: none;
    padding: 10px 18px;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #a56b6b;
}
